################################################################################
# GEDIT FILES
################################################################################
*.*~

################################################################################
# VIVADO FILES
################################################################################
*.jou
*.log
.Xil
simple_platform.cache
simple_platform.sim

################################################################################
# TRACE FILES
################################################################################
*.vcd
*.mangrove
*.variables
